.nav {
    padding: 61px 0 96px 0;
    &__grids {
        display: grid;
        grid-template-columns: 80% 10% 10%;
    }
    &__title {
        font-size: 22px;
        line-height: 24px;
    }
    &__item {
        display: grid;
        align-items: flex-end;
        justify-content: flex-end;
    }
}
