.nav {
    padding: 61px 0 96px 0;
    &__title {
        flex: 1;
        font-size: 22px;
        line-height: 24px;
    }
    &__item {
        flex: 0 0 auto;
        &_mod {
            padding-right: 29px;
        }
    }
}
