section.about-us.wrapper
    ul.about-us__wrapper
        li.about-us__item.bold We love work hard and explore new things that’s why we cover lot of things. Check our service list and view details 
        li.about-us__items
            p.text_little.text_little_gray Multimedia
            p.text_little.text_little_gray Interactive Design
            p.text_little.text_little_gray Branding
        li.about-us__items
            p.text_little.text_little_gray Creative design
            p.text_little.text_little_gray Packaging
            p.text_little.text_little_gray Coding