section.awards.wrapper 
    ul.awards__box 
        li.awards__item.bold Awwwards
        li.awards__item.bold.text_little Site of the day
        li.awards__item.regular Genesis UI Kit
            .awards__inner
                .regular.text_little.text_little_gray Application that helps to find nearest sport centres
        li.awards__item_years.regular 2018
        li.awards__item.bold.text_little Best navigation
        li.awards__item.regular Genesis Template
            .awards__inner
                .regular.text_little.text_little_gray Application that helps to find nearest sport centres
        li.awards__item_years.regular 2018 
    ul.awards__box.awards__box_border
        li.awards__item.bold.awards__box_big CSSDesignAwards
        li.awards__item.bold.text_little Site of the day 
        li.awards__item.regular Genesis UI Kit
            .awards__inner
                .regular.text_little.text_little_gray Application that helps to find nearest sport centres
        li.awards__item_years.regular 2017
        li.awards__item.bold.text_little Best navigation
        li.awards__item.regular Genesis Template
            .awards__inner
                .regular.text_little.text_little_gray Application that helps to find nearest sport centres
        li.awards__item_years.regular 2016
        