footer.footer.wrapper 
    ul.footer__list
        li.nav__title.bold 
            a(href="#top") Genesis
        li.nav__item.text_little.bold 
            a(href="#") Projects
        li.nav__item.text_little.bold 
            a(href="#") Contact
        .footer__social
            li.footer__inner-item
                a(href="https://dribbble.com/") 
                    img(src="./assets/icons/dribbble.png", alt="dribbble") 
            li.footer__inner-item
                a(href="https://instagram.com/") 
                    img(src="./assets/icons/instagram.png", alt="instagram") 
            li.footer__inner-item_twitter
                a(href="https://twitter.com/") 
                    img(src="./assets/icons/twitter.png", alt="twitter")