header.header.wrapper 
    .header__title
        h5.bold.color-blue Shooting Stars
    .header__about.flex-end
        .header__title-h1 
            h1.bold Hello, I’m Bakhtiyar Sattarov, #[span.color-blue product designer] with experience in studios and startups 
        .header__quote
            p.text_little.text_little_gray  Design is about progress 

                