nav.nav.wrapper 
    ul.flex
        li.nav__title.bold Genesis
        li.nav__item.text_little.nav__item_mod.bold 
            a(href="#") Projects
        li.nav__item.text_little.bold 
            a(href="#") Contact