nav.nav.wrapper 
    ul.nav__grids
        li.nav__title.bold Genesis
        li.nav__item.text_little.bold 
            a(href="#") Projects
        li.nav__item.text_little.bold 
            a(href="#") Contact