* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    position: relative;
    background-color: $color-light-blue;
}

a {
    text-decoration: none;
    color: $color-dark;
}

li {
    list-style: none;
}

img {
    width: 100%; // це для того, щоб картинка не іскажалась при різних розширенням
    height: auto;
}
button {
    cursor: pointer;
}
