* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    position: relative;
    background-color: $color-gray95;
}

a {
    text-decoration: none;
    color: $color-dark;
}

li {
    list-style: none;
}

img {
    width: 100%; // це для того, щоб картинка не іскажалась при різних розширенням
    height: auto;
}
.wrapper {
    margin: 0 125px;
    font-family: $font-regular;
}

.bold {
    font-family: "Mulish-Bold";
}

.regular {
    font-family: "Mulish-Regular";
}

.color-dark {
    color: $color-dark;
}
.color-blue {
    color: $color-royal-blue;
}

.text_little {
    font-size: 18px;
    line-height: 23px;
    font-family: "Mulish-Regular";
    &_gray {
        color: $color-gray;
    }
}

.flex {
    display: flex;
    align-items: center;
}

.flex-end {
    display: flex;
    align-items: flex-end;
}
